In [1]:
import pandas as pd 
import matplotlib as plt

In [184]:
csv_name='api_data_aadhar_enrolment_1000000_1006029.csv'

In [185]:
df= pd.read_csv(f'/home/alok/codes/UIDAI/UIDAI_hackathon/Dataset/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv')

In [186]:
df.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [187]:
df.tail()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
6024,31-12-2025,West Bengal,West Midnapore,721149,2,0,0
6025,31-12-2025,West Bengal,West Midnapore,721150,2,2,0
6026,31-12-2025,West Bengal,West Midnapore,721305,0,1,0
6027,31-12-2025,West Bengal,West Midnapore,721504,1,0,0
6028,31-12-2025,West Bengal,West Midnapore,721517,2,1,0

In [188]:
df['state'].value_counts()

state
Uttar Pradesh        713
Tamil Nadu           670
Maharashtra          543
West Bengal          534
Karnataka            437
Rajasthan            412
Kerala               380
Madhya Pradesh       369
Odisha               303
Telangana            288
Andhra Pradesh       240
Gujarat              189
Bihar                175
Assam                117
Jharkhand             94
Punjab                92
Chhattisgarh          76
Uttarakhand           70
Haryana               56
Himachal Pradesh      45
Jammu and Kashmir     37
Tripura               33
Orissa                28
Manipur               26
Meghalaya             25
Delhi                 14
Nagaland              11
Puducherry            11
Arunachal Pradesh      8
Goa                    8
Mizoram                7
Sikkim                 5
Ladakh                 4
Lakshadweep            3
Pondicherry            3
Chandigarh             2
Daman and Diu          1
Name: count, dtype: int64

In [193]:


# Create a mapping dictionary for state name corrections
state_corrections = {
    # West Bengal variations
    'WEST BENGAL': 'West Bengal',
    'Westbengal': 'West Bengal',
    'West bengal': 'West Bengal',
    'west Bengal': 'West Bengal',
    'West  Bengal': 'West Bengal',
    'West Bangal':'West Bengal',
    'WESTBENGAL': 'West Bengal',
    'West Bengli':'West Bengal',
    # Odisha variations (Orissa is the old name)
    'Orissa': 'Odisha',
    'ODISHA': 'Odisha',
    'odisha': 'Odisha',
    
    # Andhra Pradesh variations
    'andhra pradesh': 'Andhra Pradesh',
    'Tamilnadu':'Tamil Nadu',
    # Pondicherry is now Puducherry
    'Pondicherry': 'Puducherry',
    
    # Andaman & Nicobar Islands variations
    'Andaman & Nicobar Islands': 'Andaman and Nicobar Islands',
    
    # Jammu & Kashmir variations
    'Jammu & Kashmir': 'Jammu and Kashmir',
    
    # Daman and Diu variations
    'Daman & Diu': 'Daman and Diu',
    
    # Dadra and Nagar Haveli variations
    'Dadra & Nagar Haveli': 'Dadra and Nagar Haveli',
    
    # Uttaranchal is now Uttarakhand
    'Uttaranchal': 'Uttarakhand',
    'Jammu And Kashmir':'Ladakh',
    # Chhattisgarh spelling
    'Chhatisgarh': 'Chhattisgarh',

    'Dadra and Nagar Haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'Daman and Diu':'Dadra and Nagar Haveli and Daman and Diu',
    'Daman and Diu':'Dadra and Nagar Haveli and Daman and Diu',
    'Dadra and Nagar Haveli':'Dadra and Nagar Haveli and Daman and Diu',
    # Merge Dadra and Nagar Haveli and Daman and Diu (merged in 2020)
    'Dadra and Nagar Haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'Daman and Diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'The Dadra And Nagar Haveli And Daman And Diu': 'Dadra and Nagar Haveli and Daman and Diu'
}

# Apply the corrections
df['state'] = df['state'].replace(state_corrections)

# Verify the results
print(df['state'].value_counts())

state
Uttar Pradesh                               713
Tamil Nadu                                  670
Maharashtra                                 543
West Bengal                                 534
Karnataka                                   437
Rajasthan                                   412
Kerala                                      380
Madhya Pradesh                              369
Odisha                                      331
Telangana                                   288
Andhra Pradesh                              240
Gujarat                                     189
Bihar                                       175
Assam                                       117
Jharkhand                                    94
Punjab                                       92
Chhattisgarh                                 76
Uttarakhand                                  70
Haryana                                      56
Himachal Pradesh                             45
Jammu and Kashmir                            37
Tripura                                      33
Manipur                                      26
Meghalaya                                    25
Puducherry                                   14
Delhi                                        14
Nagaland                                     11
Arunachal Pradesh                             8
Goa                                           8
Mizoram                                       7
Sikkim                                        5
Ladakh                                        4
Lakshadweep                                   3
Chandigarh                                    2
Dadra and Nagar Haveli and Daman and Diu      1
Name: count, dtype: int64

In [194]:
invalid_entries = ['Darbhanga', 'Puttenahalli','BALANAGAR','100000','Jaipur','Madanapalle','Raja Annamalai Puram','Nagpur']
df = df[~df['state'].isin(invalid_entries)]

In [195]:
df['state'].value_counts().count()

np.int64(35)

In [196]:
df.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [197]:
df.to_csv(f'corrected_{csv_name}',index=False)